@page "/showquery/{queryitem}"
@using System.IO
@using System.Text
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject ClientModel ClientModel

<HeaderRow Header="Query execution" SubHeader="Execute queries and download results in different formats" ErrorMessage=@ErrorMessage />

@if (QueryMetaData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.subtitle1">@QueryMetaData.Label</MudText>
            <MudText Typo="Typo.subtitle2">@QueryMetaData.Description</MudText>
            <fieldset>
                <legend>Size and config</legend>
                <MudSelect T="string" Label="Output format" AnchorOrigin="Origin.BottomCenter" @bind-Value="@OutputFormat">
                    @foreach (var format in ClientModel.FormatterInfos)
                    {
                        <MudSelectItem Value="@format.OutputFormat">@format.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudTextField T="int" @bind-Value="@Offset" Label="Offset" InputType="InputType.Number" />
                <MudTextField T="int" @bind-Value="@MaxRows" Label="Max Rows" InputType="InputType.Number" />
            </fieldset>

            @if (QueryMetaData.Parameters?.Count > 0)
            {
                <fieldset>
                    <legend>Query Parameters</legend>
                    @{
                        foreach (var kvp in ParamValuesDict)
                        {
                            <MudTextField T="string" @bind-Value="@ParamValuesDict[kvp.Key]" Label="@kvp.Key" />
                        }
                    }
                </fieldset>
            }

            <fieldset>
                <legend>Table display</legend>
                <MudSwitch @bind-Checked="@TableDisplayOptions.Hover" Color="Color.Primary">Hover</MudSwitch>
                <MudSwitch @bind-Checked="@TableDisplayOptions.Dense" Color="Color.Secondary">Dense</MudSwitch>
                <MudSwitch @bind-Checked="@TableDisplayOptions.Striped" Color="Color.Tertiary">Striped</MudSwitch>
                <MudSwitch @bind-Checked="@TableDisplayOptions.Bordered" Color="Color.Warning">Bordered</MudSwitch>
            </fieldset>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-1" OnClick=@(()=>@ShowQueryResultsAsync())>Execute Query</MudButton>
        </MudCardActions>
    </MudCard>
    
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />


    <QueryResultTable @ref="queryResultTable" QueryResult=@QueryResult TableDisplayOptions=@TableDisplayOptions />
}